.gallery__container .container {
  max-width: 1000px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 24px 24px 0 RGB(43 80 237 / 20%);
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}

.container .img {
  box-shadow: 0 24px 24px 0 RGB(43 80 237 / 20%);
}

.container .img img {
  width: 100%;
  object-fit: cover;
}
